<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Applasclasc</display-name>
  
		<servlet>
		<servlet-name>CartAdd</servlet-name>
		<servlet-class>NewPack.CartAddServlet</servlet-class>
		</servlet>
		<servlet>
		<servlet-name>CartData</servlet-name>
		<servlet-class>NewPack.CartDataServlet</servlet-class>
		</servlet>
		<servlet>
		<servlet-name>CartRemove</servlet-name>
		<servlet-class>NewPack.CartRemoveServlet</servlet-class>
		</servlet>
		<servlet>
		<servlet-name>ChangePass</servlet-name>
		<servlet-class>NewPack.ChangePassServlet</servlet-class>
		</servlet>
		<servlet>
		<servlet-name>Forgot</servlet-name>
		<servlet-class>NewPack.ForgotServlet</servlet-class>
		</servlet>
		<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>NewPack.LoginServlet</servlet-class>
		</servlet>
		<servlet>
		<servlet-name>OrderCancel</servlet-name>
		<servlet-class>NewPack.OrderCancelServlet</servlet-class>
		</servlet>
		<servlet>
		<servlet-name>OrderData</servlet-name>
		<servlet-class>NewPack.OrderDataServlet</servlet-class>
		</servlet>
		<servlet>
		<servlet-name>OrderPlace</servlet-name>
		<servlet-class>NewPack.OrderPlaceServlet</servlet-class>
		</servlet>
		<servlet>
		<servlet-name>ProductData</servlet-name>
		<servlet-class>NewPack.ProductDataServlet</servlet-class>
		</servlet>
		<servlet>
		<servlet-name>ProductDetails</servlet-name>
		<servlet-class>NewPack.ProductDetailsServlet</servlet-class>
		</servlet>
		<servlet>
		<servlet-name>Signup</servlet-name>
		<servlet-class>NewPack.SignupServlet</servlet-class>
		</servlet>
		<servlet>
		<servlet-name>WishlistAdd</servlet-name>
		<servlet-class>NewPack.WishlistAddServlet</servlet-class>
		</servlet>
		<servlet>
		<servlet-name>WishlistData</servlet-name>
		<servlet-class>NewPack.WishlistDataServlet</servlet-class>
		</servlet>
		<servlet>
		<servlet-name>WishlistRemove</servlet-name>
		<servlet-class>NewPack.WishlistRemoveServlet</servlet-class>
		</servlet>
		  
  
  
		<servlet-mapping>
		<servlet-name>CartAdd</servlet-name>
		<url-pattern>/CartAddServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
		<servlet-name>CartData</servlet-name>
		<url-pattern>/CartDataServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
		<servlet-name>CartRemove</servlet-name>
		<url-pattern>/CartRemoveServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
		<servlet-name>ChangePass</servlet-name>
		<url-pattern>/ChangePassServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
		<servlet-name>Forgot</servlet-name>
		<url-pattern>/ForgotServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
		<servlet-name>OrderCancel</servlet-name>
		<url-pattern>/OrderCancelServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
		<servlet-name>OrderData</servlet-name>
		<url-pattern>/OrderDataServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
		<servlet-name>OrderPlace</servlet-name>
		<url-pattern>/OrderPlaceServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
		<servlet-name>ProductData</servlet-name>
		<url-pattern>/ProductDataServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
		<servlet-name>ProductDetails</servlet-name>
		<url-pattern>/ProductDetailsServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
		<servlet-name>Signup</servlet-name>
		<url-pattern>/SignupServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
		<servlet-name>WishlistAdd</servlet-name>
		<url-pattern>/WishlistAddServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
		<servlet-name>WishlistData</servlet-name>
		<url-pattern>/WishlistDataServlet</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
		<servlet-name>WishlistRemove</servlet-name>
		<url-pattern>/WishlistRemoveServlet</url-pattern>
		</servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>